nav a {
  color: crimson;
  text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: crimson;
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.about blockquote {
  background-color: #eaeaea;
}

.users span {
  font-weight: bold;
}

.users span:last-child {
  font-weight: bold;
  color: crimson;
}

.creators .link {
  font-family: "Lato", sans-serif;
  color: crimson;
  text-decoration: none;
}

.creators .link.font {
  font-family: "PT Serif", serif;
  font-weight: bold;
  text-decoration: none;
}

.cta h2 {
  font-family: "Lato", sans-serif;
  color: crimson;
}

li:nth-child(1),
li:nth-child(3) {
  text-decoration: underline;
}
